<h1 [ngClass]="classList">Blog</h1>
<div>
  <!-- <section *ngFor="let post of posts">
      <h1 class="title"> {{post.title}} </h1>
      <p>{{post.body}}</p>
      <span [ngClass]="{bold: post.comments > 6}"> {{post.comments}}</span>
  </section> -->

<!-- above single post div, loop over the array and only show the titles. they can be in any elements. use {{post.title}} -->

<h3 *ngFor="let post of posts">{{post.title}}</h3>

  <form-social
    *ngFor="let post of posts; let i = index"
    [title]="post.title"
    [body]="post.body"
    [comments]="post.comments"
    (newTitle)="onNewTitle($event, i)"
  ></form-social>
</div>






